@keyframes shine {
    to {
      background-position-x: -200%;
    }
  }


@keyframes background-pan {
    from {
        background-position: 0%;
    }
    to {
        background-position: -200%;
    }
}
