.fotter {
    color: rgb(136, 136, 136);
    & .logo {
        color: white;
        font-size: 24px;
        font-weight: bolder;
        width: max-content;
        height: 24px;
        line-height: 0;
        margin-left: 10px;
        padding: .6em .6em;
        border-radius: 2em;
        background-color: rgba(136, 136, 136, 0.075);
        font-family: 'Comfortaa', cursive;
    }
}