.sky {
    position: absolute;
    top: 0;
    z-index: -1;
    background: linear-gradient($DarkTop 0%, $DarkBottom 25%, $LightTop 50%, $LightBottom 100%);
    width: $DocumentWidth;
    height: $DocumentHeight;
}

#sky {
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#star {
    margin: 0;
    padding: 0;
    width: 150vh;
    height: 100vw;
    position: fixed;
    overflow: hidden;
    transform: translateX(calc(50vw - 50%)) translateY(calc(50vh - 50%)) rotate(120deg);
}

.balloon {
    position: absolute;
    top: 325vh;
    left: 75vw;
    fill: white;
    height: 5em;
}

.moon{
    position: absolute;
    top: 100vh;
    left: 60vw;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 5px 2px 0px 0px #fff; 
}