/* Document settings */
$DocumentHeight: 400vh;
$DocumentWidth: 100vw;

/* Main background settings */

$MainTop: rgb(0,0,0);
$MainBottom: rgb(34, 34, 34);

/* sky background settings */

$DarkTop: rgb(0,0,0);
$DarkBottom: rgb(4, 0, 44);
$LightTop: rgb(5, 0, 65);
$LightBottom: rgb(28, 62, 94);