

.card-body {
    text-decoration: none;
    width: $CardWidth;
    min-height: $CardHeigth;
    height: $CardHeigth;
    max-height: max-content;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    & .card-head {
        width: calc(100% - $CardPadding);
        height: calc(100% - $CardPadding);
        overflow: hidden;
        padding: ($CardPadding/2);
        background-color: $NoiseColor;
        background: linear-gradient(110deg, #2e2e2e 20%, #4d4d4d 30%, #2e2e2e 40%);
        background-size: 200% 100%;
        animation: 3s shine linear infinite;
        border: 1px solid black;
        border-radius: $CardRadius;
        & .card-icon {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border: 1px solid black;
            border-radius: $CardRadius*0.75;
        }
        & .card-dummy {
            width: 200%;
            height: 200%;
            position: relative;
            margin-top: -100%;
            margin-left: -50%;
        }
    }
    & .card-title {
        color: $PrimaryColor;
        font-size: 20px;
        font-weight: bold;
    }
    & .card-desc {
        color: $AccientColor;
        font-size: 15px;
        width: 100%;
        text-align: justify;
    }
    & .card-update {
        color: darken($AccientColor, 15%);
        font-size: 12px;
        & .card-date {
            color: lighten($AccientColor, 15%);
            font-size: 15px;
            font-weight: bold;
        }
    }
}

.card {
    background-color: $NoiseColor;
    border-radius: $CardRadius;
    text-decoration: none;
}

.profile {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    & .splash {
        width: 100%;
        background: url("../../img/profile.png");
        background-size: cover;
        border-radius: 0 $CardRadius $CardRadius 0;
        & .mask {
            width: 100%;
            height: 100%;
            border-radius: 0 $CardRadius $CardRadius 0;
            background-color: rgba(white,0.05);
        }
    }
    
    & .text {
        width: calc(100% - 4rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2rem;
        & .title{
            color: $PrimaryColor;
            font-size: 1.9rem ;
            font-weight: bold;
            margin-bottom: 2rem;
        }
        & .body {
            color: $AccientColor;
            font-size: .8rem;
            font-weight: bold;
        }
        & .svg-profile{
            margin-top: 2rem;
            display: grid;
            align-items: center;
            justify-items: center;
            grid-template-columns: repeat(3, 1fr);
            & svg {
                width: 2rem;
                fill: $PrimaryColor;
                transition: ease-in-out 0.2s;
                &:hover {
                    fill: lighten($PrimaryColor, 15%);
                }
            }
            
        }
    }

   
}
.main-card {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    padding: 5rem 0;
    background-color: rgba($SecondaryColor, 0.80);
}


@media (min-width: 41rem) {
    $CardHeigth: $CardHeigth *2;
    $CardWidth: $CardWidth / 5;
    .card {
        width: max-content;
        height: max-content;
    }
    .profile {
        width: 60rem;
        height: 40rem;
        & .text {
            
            & .title{
                font-size: 4rem ;
            }
            & .body {
                font-size: 1.2rem;
            }        
            & .svg-profile{
                & svg {
                    width: 4rem;
                }
                
            }
        }
    
       
    }
    .main-card {
        padding: 8rem 0;

    }
}

@media (min-width: 60rem) {
    .card-body {
        min-height: $CardHeigth *1.1;
        height: $CardHeigth * 1.1;
        max-height: $CardHeigth * 2;
        width: $CardWidth *1.1;
        & .card-head {
            border-radius: $CardRadius *1.1;
            width: calc(100% - $CardPadding);
            min-height: $CardHeigth * 0.8;
            & .card-icon {
                border-radius: $CardRadius* 0.85;
            }
        }
        & .card-title {
            font-size: 24px;
        }
        & .card-desc {
            font-size: 16px;
        }
        & .card-update {
            font-size: 14px;
            & .card-date {
                font-size: 16px;
            }
        }
    }
}


@media (min-width: 125rem) {
    .card-body {
        min-height: $CardHeigth *1;
        height: $CardHeigth * 1.1;
        max-height: $CardHeigth * 1.2;
        width: $CardWidth *1.3;
        & .card-head {
            border-radius: $CardRadius *1.2;
            width: calc(100% - $CardPadding);
            min-height: $CardHeigth * 1;
            & .card-icon {
                border-radius: $CardRadius*1.25;
            }
        }
        & .card-title {
            font-size: 28px;
        }
        & .card-desc {
            font-size: 18px;
        }
        & .card-update {
            font-size: 15px;
            & .card-date {
                font-size: 18px;
            }
        }
    }
}