.modal {
    background-color: rgba($color: $SecondaryColor, $alpha: 0.9);
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    opacity: 0;
    z-index: -1;
    transition: ease-in-out 0.75s;
    .modal-close {
      position:absolute;  
      width: fit-content;
      padding: .3rem .4rem;
      border-radius: 2rem;
      justify-self: flex-end;
      margin:  1rem;
    }
}


.modal-show {
    opacity: 1 !important;
    z-index: 5;
}
  
  