.project-section {
    width: 100vw;
    & .project-flex {
        display: flex;
        justify-content: center;
        & .project-slot{
            width: 100%;
            background-color: white;
            border-radius: 1em;
            padding: .5em;

        }
        & .project-box{            
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 23.1vw;
            height: 40.4vh;
            z-index: 5;
        }
        & .project-name {
            color: black;
            font-size: xx-large;
            font-weight: bold;
            padding: .5em;
            background-color: rgba(187, 187, 187, 0.705);
            border-radius: 1em;
            text-align: center;
        }
        & .project-slot:after {
            content: "";
            display: block;
            //padding-bottom: 100%;
        }
        & .project-icon {
            width: 100%;
            object-fit: cover;
            border-radius:  1em;
            transition: linear 0.2s;

        }
        & .project-slot:hover {
            & .project-icon{
                opacity: 0.5;
            }
            & .project-name {
                background-color: rgba(27, 27, 27, 0.5);
                color: white;
            }
        }
    }
    & .project-img {
        width: calc(100% - 1rem);
        height: 20rem;
        margin: .5rem;
        background-color: rgb(48, 48, 48);
        border-radius: calc(($CardRadius/3)*2);
        
        & .project-modal {
            background-color: transparent;
            border-radius: calc(($CardRadius/3)*2);
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 20%, 80%;
            transition: ease-in-out .2s;
        
            & .project-number {
                width: 100%;
                color: rgba($AccientColor, 0);
                transition: ease-in-out .2s;
                font-size: 4rem;
                font-weight: bold;
                text-align: right;
                line-height: 4rem;
            }

            & .project-name {
                width: 100%;
                color: rgba($color: $AccientColor, $alpha: 0.25);
                
                transition: ease-in-out .2s;
                background-color: none;
                font-weight: bold;
                font-size: 3rem;
            }

        &:hover {
            background: linear-gradient(to bottom, transparent 0%, black 100%);
            color: rgba($color: $AccientColor, $alpha: 1);
            & .project-number {
                color: $AccientColor;
            } 
            & .project-name {
                color: $AccientColor;
            }
        }
    }
}

    
    
}

@media (min-width: 40rem) {
    .project-section {
        & .project-img {
            width: 40rem;
            height: 25rem;
        }
    }
}