.project-grid {
    width: calc(100% - 2rem);
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    row-gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media (min-width: 57.5rem) {
    .project-grid {
        width: calc(100% - 4rem);
        display: grid;
        justify-items: center;
        align-items: start;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (min-width: 90rem) {
    .project-grid {
        display: grid;
        width: calc(100% - 10rem);
        grid-template-columns: repeat(3, 1fr);
    }
}