@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto&display=swap');
.section {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    & .center {
        width: 100vw;
        height: 100vh;
        display: flex;
        
        justify-content: center;
        align-items: center;
    }
    & .title {
        & #logo {
            margin-top: auto;
            width: 75vw;
            height: max-content;
            padding: 1.5vh 1vw;
            border-radius: 5em;
            background-color: rgba(136, 136, 136, 0.151);
            
        }
        @media only screen and (min-width: 1000px) {
            & #logo {
                width: 50vw;
            }

         }
        @media only screen and (min-width: 1500px) {
            & #logo {
                width: 25vw;
            }

         }
    }
    & .splitter {
        padding: 0;
        margin-bottom: -1vh;
        z-index: 5;
        //fill: black;
        & .top {
            fill: $MainTop;
        }
        
        & .bottom {
            fill:$MainBottom;
        }
    }
    & .main {
        width: 100vw;
        height: calc(#{$DocumentHeight} - 275vh);
        z-index: 5;
        padding: 10vh 0 20vh 0;
        background: linear-gradient( $MainTop 0%, $MainBottom 100%);
        & .info {
            margin-top: 10vh;
            color: white;
            font-size: 24px;
        }        
        & .scroller {
            margin-top: 10vh;
            height: 150vh;
        }
        & .bottom {
            position: absolute;
            width: 100%;
            top: calc(#{$DocumentHeight} - 160vh);
        }
    }
}


.ping {
    background-color: red;
    width: 10px;
    height: 10px;
    padding: 2px;
    border-radius: 50%;
    align-items: center;
    & .animation {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: red;
        animation: ping 0.75s ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: forward;
    }
}


@keyframes ping {
    from {
        margin-top: 0;
        height: 10px;
        width: 10px;
        opacity: 1;
    }
    to {
        margin-top: -10px;
        margin-left: -10px;
        height: 30px;
        width: 30px;
        opacity: 0;
    }
}