/* Document settings */
$CardRadius: 1.5rem;

/* Main background settings */
$PrimaryColor: #B4CE4C;
$AccientColor: #EAF698;
$SecondaryColor: #0C0C0C;
$NoiseColor: #171717;


$MainTop: rgb(0,0,0);
$MainBottom: rgb(34, 34, 34);

/* sky background settings */

$DarkTop: rgb(0,0,0);
$DarkBottom: rgb(4, 0, 44);
$LightTop: rgb(5, 0, 65);
$LightBottom: rgb(28, 62, 94);



/* Colors */
$colors: (
    "darkorange": #FFB156,
    "lightorange":#F6DC98,
    "darkgreen":  #B4CE4C,
    "lightgreen": #EAF698,
    "darkred":    #FF5656,
    "lightred":   #F6A998,
    "darkblue":   #56A4FF,
    "lightblue":  #98E5F6,
    "darkgray":   #747474,
    "lightgray":  #D2D2D2,
);

$type: (
    "primary"   : map-get($colors, "darkblue"),
    "secondary" : map-get($colors, "lightgray"),
    "success"   : map-get($colors, "darkgreen"),
    "warning"   : map-get($colors, "darkorange"),
    "error"     : map-get($colors, "darkred")
);

/* Padding */
$btn: (
    "top": 1rem,
    "left": 1.5rem
);
$btn-rounded: (
    "top": .1rem,
    "left": .6rem
);