.navbar {
    width: 98vw;
    margin-left: 1vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: rgba(lighten($SecondaryColor, 5%), .3);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    & .logout {
        justify-self: end;
        margin-right: .5rem;
        height: 100%;
        width: max-content;
        display:flex;
        flex-direction: column;
        justify-content: center;
        & svg {
            stroke: gray;
            outline: gray 2px solid;
            height: 2.5rem;
            padding: .2rem;
            border-radius: 1rem;
        }
        &:hover {
            & svg {
                background-color: rgba(gray, .2);
                stroke: lighten(gray , 10%);
                outline: lighten(gray , 10%) 2px solid;
            }
        }
    }
    & .title {
        align-self: center;
        color: $PrimaryColor;
        font-weight: bold;
        font-size: 2rem;
    }
}